<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="i"
                *ngFor="let articulo of misArticulos; let indice = first"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="i" 
            *ngFor="let articulo of misArticulos; let indice = last;let i = index;"></li> 
            
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let articulo of misArticulos;let indice = first">
                <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src='{{articulo.imagen1}}' alt="..."
                    width="800" height="800">

                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ articulo.nombre }}</h5>
                    <p>{{ articulo.descripcion }}</p>
                </div>
            </div>
            <div class="carousel-item " *ngFor="let articulo of misArticulos ; let indice = last">
                    <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src='{{articulo.imagen2}}' alt="..."
                        width="800" height="800">
                    
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ articulo.nombre }}</h5>
                        <p>{{ articulo.descripcion }}</p>
                    </div>
                </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>