<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Informe de recolectores</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Fundación</label>
                                <select id="fundacion" [(ngModel)]="recolectorConsulta.fundacion.id" name="fundacion" class="form-control">
                                  <option *ngFor="let fundacion of fundaciones_" [value]="fundacion.id" name="localidad">{{ fundacion.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Localidad</label>
                                <select id="localidad" [(ngModel)]="recolectorConsulta.localidad.id" name="localidad" class="form-control">
                                  <option *ngFor="let localidad of localidades" [value]="localidad.id" name="localidad">
                                    {{ localidad.nombre }}
                                  </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <label>Recolector</label>
                                <select id="recolector" [(ngModel)]="usuarioconsulta.id" name="recolector" class="form-control">
                                  <option *ngFor="let recolector of recolectores" [value]="recolector.id" name="recolector"> {{ recolector.nombre }}
                                    {{ recolector.apellido }}</option>
                                </select>
                            </div>
                        </div>

                    </div> -->

                    <!-- <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <label>Usuario donador</label>
                                <select id="recolector" [(ngModel)]="usuarioconsulta.id" name="recolector" class="form-control">
                                  <option *ngFor="let usuario of usuarios" [value]="usuario.id" name="recolector"> {{ usuario.nombre }}
                                    {{ usuario.apellido }}</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-outline-primary btn-round" (click)="consultarUsuarioxFundacion(recolectorConsulta.fundacion.id)">Consultar</button>
                        </div>
                    </div>
                </form>

                <table class="table table-bordered">
                    <thead class=" text-primary">
                        <tr>
                            <th>Id usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Teléfono</th>
                            <th>Correo electrónico</th>
                            <th>Celular</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of recolectores;" (visible_)="1" (onclick)="verPerfilRecolector(usuario.id)">
                            <th>{{usuario.id}}</th>
                            <th>{{ usuario.nombre}}</th>
                            <th>{{ usuario.apellido }} </th>
                            <th>{{ usuario.celular }} </th>
                            <th>{{ usuario.correo }}</th>
                            <td><i class="nc-icon nc-simple-remove" (click)="eliminarRecolector(usuario.id)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>