<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" *ngFor="let recogida of misRecogidas">
        <app-detalledashboard [MySelectedRecogida]="recogida" (click)= "verDetalle(recogida.id)" style="cursor: pointer"></app-detalledashboard>
    </div>
</div>