<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Edit Profile {{editUsuario.nombre + ' ' + editUsuario.apellido}}</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" disabled="" placeholder="Nombre" [(ngModel)]="editUsuario.nombre + ' ' + editUsuario.apellido " name="nombreapllido">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Dirección de correo electrónico</label>
                                <input type="email" class="form-control" placeholder="Email" [(ngModel)]="editUsuario.correo" name="email">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="editUsuario.password" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="editUsuario.nombre" name="nombre">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="editUsuario.apellido" name="apellido">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Identificación</label>
                                <input type="text" class="form-control" placeholder="Identificación" [(ngModel)]="editUsuario.cedula" name="cedula">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>Número de celular</label>
                                <input type="number" class="form-control" placeholder="Número de celular" [(ngModel)]="editUsuario.celular" name="celular">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Fecha de nacimiento</label>
                                <input type="date" class="form-control" placeholder="Fecha de nacimiento" [(ngModel)]="editUsuario.fechaNacimiento" name="fechaNacimiento">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round" (click)="saveDonador(editUsuario.correo, editUsuario.password, editUsuario.nombre,editUsuario.apellido,editUsuario.celular,editUsuario.cedula, editUsuario.fechaNacimiento) ">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>