<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Nuevo Artículo</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nombre Artículo</label>
                                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="miArticulo.nombre" name="nombre">
                            </div>
                        </div>
                        <div class="col-md-6 px-1">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input type="number" class="form-control" placeholder="1" [(ngModel)]="miArticulo.cantidad" name="cantidad">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control textarea" [(ngModel)]="miArticulo.descripcion" name="descripcion"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>¿Funcional o No Funcional?</label>
                                        <input type="text" class="form-control" placeholder="Ejemplo: Funcional" [(ngModel)]="miArticulo.estadoUtil" name="estadoUtil">
                                    </div>
                                </div>
                        
                        <div class="col-md-2 pr-1">
                            <div class="form-group">
                                <label>Alto</label>
                                <input type="number" class="form-control" placeholder="Alto (cms)" [(ngModel)]="miArticulo.alto" name="alto">
                            </div>
                        </div>
                        <div class="col-md-2 px-1">
                            <div class="form-group">
                                <label>Largo</label>
                                <input type="number" class="form-control" placeholder="Largo (cms)" [(ngModel)]="miArticulo.largo" name="largo">
                            </div>
                        </div>
                        <div class="col-md-2 pl-1">
                            <div class="form-group">
                                <label>Ancho</label>
                                <input type="number" class="form-control" placeholder="Ancho (cms)" [(ngModel)]="miArticulo.ancho" name="ancho">
                            </div>
                        </div>
                        <div class="col-md-2 pr-1">
                                <div class="form-group">
                                    <label>peso</label>
                                    <input type="number" class="form-control" placeholder="Peso (kg)" [(ngModel)]="miArticulo.peso" name="peso">
                                </div>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                           <!-- <div class="custom-file">
                                <input type="file" class="custom-file-input" id="validatedCustomFile">
                                <label class="custom-file-label" for="validatedCustomFile">Adjuntar imagen...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>-->
                                <input type="text" class="form-control" placeholder="URL Imagen 1" [(ngModel)]="miArticulo.imagen1" name="imagen1">
                          <!--  </div>-->
                        </div>
                    </div>
                    <br>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <!-- <div class="custom-file">
                               <input type="file" class="custom-file-input" id="validatedCustomFile">
                                <label class="custom-file-label" for="validatedCustomFile">Adjuntar imagen...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>-->
                                <input type="text" class="form-control" placeholder="URL Imagen 2" [(ngModel)]="miArticulo.imagen2" name="imagen2">
                            <!--<div>-->
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-primary btn-round" 
                                (click)='addArticulo(miArticulo.nombre,miArticulo.cantidad,miArticulo.estadoUtil,miArticulo.alto,miArticulo.ancho,miArticulo.largo,miArticulo.peso,miArticulo.descripcion,miArticulo.imagen1,miArticulo.imagen2)'>Agregar Artículo</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>